<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opensource.marvelcharacters">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.opensource.marvelcharacters.MarvellApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="false">
        <activity android:name="com.opensource.marvelcharacters.presentation.favorite_characters.FavoriteCharactersActivity"/>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <activity android:name="com.opensource.marvelcharacters.presentation.character_details.CharacterDetailsActivity" />
        <activity android:name="com.opensource.marvelcharacters.presentation.webview.WebViewActivity" />
        <activity android:name="com.opensource.marvelcharacters.presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>